@model IEnumerable<Assignment3.Models.Course>

@{
    ViewData["Title"] = "Home Page";
}
<!--
    Author:    [Austin Stephens]
    Partner:   [None]
    Date:      [08/26/2019]
    Course:    CS 4540, University of Utah, School of Computing
    Copyright: CS 4540 and [Austin Stephens] - This work may not be copied for use in Academic Coursework.


    I, Austin Stephens, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

    A home website for the Computer Science Learning Outcome Tracker
-->
<html>
<body>
    <!-- The top red box of the webpage https://getbootstrap.com/docs/4.0/components/jumbotron/-->
    <div class="jumbotron text-center" id="jumbotronStyle">
        <ul class="list-inline">
            <li class="list-inline-item"><h2>Computer Science Department</h2></li>
        </ul>
    </div>
    <div class="row text-center">
        <div class="col-sm-4 .bg-light">
            <h4>Admin </h4>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="EditRole">Edit User Roles</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Update">Change and View Courses</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4 .bg-light">
            <h4>Professors Pages </h4>

            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="PersonalCourse" asp-route-id="@ViewData["name"]">View Courses</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4 .bg-light">
            <h4>Department Overview </h4>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Department">View Overview of Courses</a>
                </li>
            </ul>
        </div>
</body>
</html>