@model IEnumerable<Assignment3.Models.Course>

@{
    ViewData["Title"] = "Home Page";
}
<html>
<body>
    <!-- The top red box of the webpage https://getbootstrap.com/docs/4.0/components/jumbotron/-->
    <div class="jumbotron text-center" id="jumbotronStyle">
        <ul class="list-inline">
            <li class="list-inline-item"><h2>Computer Science Department</h2></li>
            <li class="list-inline-item"><h3>Course Tracker</h3></li>
        </ul>
    </div>
    <div class="row text-center">
        <h4>Admin </h4>
        <ul>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="EditRole">Edit Roles</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Update">Change and View Courses</a>
            </li>
        </ul>
        <h4>Professors Pages </h4>
        <ul>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Course" asp-route-id="@ViewData["name"]">View Courses</a>
            </li>
        </ul>
        <h4>Department Overview </h4>
        <ul>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Department">View Overview of Courses</a>
            </li>
        </ul>
    </div>
</body>
</html>